html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px 10px;
    padding: 0px;
    color: #33332e;
    background-color: lightgray;
    background-size: cover;
    font: normal 16px Muli, Arial, Helvetica;
    line-height: 1.2;
    text-align: center;
    max-width: 100%;
    min-width: 300px;
}

img {
    border: 0px;
}

iframe {
    max-width: 100%;
}

form {
    margin: 0px;
}

input,
textarea {
    font: normal 13px tahoma, geneva, verdana, sans-serif;
}

input.text,
input.password,
textarea {
    padding: 1px 0px 1px 2px;
    border: 1px solid #57594b;
}

a {
    color: #00469f;
    text-decoration: none;
}

a:visited {
    color: #00469f;
}

a:hover {
    color: #00469f;
    text-decoration: underline;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
    color: #000;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-weight: normal;
    font-size: 12px;
}

.hsmall {
    font-weight: normal;
    font-size: 9px;
}

#accessibility {
    position: absolute;
    left: -9000px;
    width: 9000px;
}

#wrapper {
    margin: 0px auto;
    max-width: 1020px;
    text-align: left;
    width: 100%;
}

#logo {
    background: transparent url(/images/header_logo_small.png) top center no-repeat;
    background-size: contain;
    height: 91px;
    max-height: 91px;
    min-height: 91px;
    max-width: 483px;
    margin: 0 auto 48px 26.2%;
    position: relative;
    top: 30px;
    text-indent: -9999px;
    width: 65%;
    z-index: 9
}

#logo h1,
#logo a {
    height: 100%;
    margin: 0px;
    outline: none;
    width: 100%;
}

#logo a {
    display: block;
    text-decoration: none;
}

#header {
    margin-top: 20px;
    position: relative;
    height: 184px;
    width: 100%;
}

#header-background {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .40;
    -moz-opacity: .40;
    -webkit-opacity: .40;
}

#header-first {
    background-size: auto 100%;
    position: absolute;
    height: 184px;
    width: 100%;
    z-index: 9;
}

#header-right {
    position: absolute;
    bottom: 60px;
    right: 0;
    margin-right: 30px;
    width: 180px;
    text-align: right;
    z-index: 99
}

#header-right a {
    font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 140%;
    color: #2E2E2E
}

#header-right a:hover {
    color: #00469F
}

.searchbar {
    margin-top: 5px;
    border: 0px solid;
    width: 180px;
    float: right
}

.searchbar input.text,
.searchbar input.submit {
    margin-right: 5px;
}

* html .searchbar input.submit {
    height: 21px;
}

.searchbar a {
    color: #212126;
    font-size: 10px;
}

.searchbar a:hover {
    color: #5c5b66;
}

.search-text {
    color: #00469f
}

.search-button {
    background: url(/images/search_icon.png) center center no-repeat;
    margin-left: 5px;
    border: 0px;
    height: 21px;
    width: 21px;
}

#footer {
    background: #fff;
    border-top: 0px solid #57594b;
    margin-top: 0px;
    padding: 0px;
    position: relative;
}

#footer img {
    float: right;
}

#footer p {
    margin: 0px;
    padding: 0px 0px;
    color: #8a8d77;
    font-size: 9px;
}

.vcard {
    padding: 10px 0px 10px 20px;
}

.vcard span {
    display: block;
}

.vcard .f-between {
    display: none
}

#social_media {
    float: right;
    margin-right: 2%;
    max-width: 350px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#social_media td {
    border: 0px solid
}

.f-between {
    clear: left;
    padding: 0 12px;
    text-align: center
}

.sm-link {
    border: 0px solid;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.likeusonfb,
.plusone,
.gplus-share {
    display: table-cell0;
    ;
    text-align: center
}

.social_link {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.social_link span {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.plusone .social_link {
    overflow: hidden;
    margin: 0 auto;
    max-width: 68px;
}

.global_message {
    color: #000;
    font-size: 14px;
    padding: 10px 10px 15px 20px;
}

#footer-bottom {
    border-top: 1px solid #ccc;
    padding: 10px 0px
}

#copyright {
    padding: 5px 0px 10px 20px;
    float: left;
    font-size: 11px;
}

#credits {
    color: #999;
    padding: 5px 10px 10px 10px;
    font-size: 11px;
    float: right
}

#contentheader {
    padding: 12px 10px 0px 10px;
    background: #B0D6DD;
}

#contentheader .error,
#contentheader .message {
    margin: 0px;
    padding: 10px 15px;
    border: 0px solid #ffffff;
    color: #000;
    text-align: left;
}

#contentheader .error {}

#contentheader .message {}

#contentfooter {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -60px;
    margin-bottom: -60px;
}

#contentfooter ol,
#contentfooter ul {
    list-style: none !important;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#contentfooter ol li,
#contentfooter ul li {
    display: inline-block;
    padding: 20px 3% 8px 3%
}

#contentfooter a {}

#ocwrapper {
    border-left: 0px solid #e2e1eb;
    border-right: 0px solid #e2e1eb;
    background: #fff;
}

#leftsidebar {
    margin-left: -200px;
    padding: 10px 0px 10px 10px;
    width: 190px;
    float: left;
    position: relative;
    display: none;
}

#rightsidebar {
    margin-right: -200px;
    padding: 10px 10px 10px 0px;
    width: 190px;
    float: right;
    position: relative;
    display: none;
}

#contentwrapper {
    width: 100%;
    float: left;
    position: relative;
}

#content {
    margin: 0px 10px 30px 1px;
    padding: 10px 2.5%;
    background: #ffffff;
}

#content.content-w-leftbar {
    padding-left: 280px;
}

.content-right {
    float: right;
    border-left: 1px solid #91867f;
    padding: 10px 0px 10px 20px;
    margin: -20px 20px 10px 20px;
}

.content-left {
    float: left;
    margin-bottom: 40px;
    margin-left: -280px;
    width: 280px;
    text-align: center;
    border: 0px solid
}

.content-left div {
    margin: 0 auto;
}

#content.content-w-leftbar-and-links .content-left {
    margin-left: 0px;
}

.NDR .rightbar {
    width: 155px;
}

.LDR #content {}

.LDN #content {}

.LNN #content {}

.LNR #content {}

.NDR #content {}

.NDN #content {}

.NNN #content {}

.NNR #content {}

#content-bottom-wrapper {
    clear: both;
    padding-top: 20px;
    text-align: center;
}

#content-bottom-wrapper span {
    display: inline-block;
    padding: 0px 20px 10px 0px
}

#content-bottom-wrapper a.on {
    font-weight: bold
}

* html #content {
    height: 1%;
}

.floatleft,
.align-left {
    float: left;
}

.floatright,
.align-right {
    float: right;
}

img.floatleft,
.floatleft img {
    margin: 0 15px 15px 0px;
}

img.floatright,
.floatright img {
    margin: 0 0 15px 15px;
}

.floatcenter,
.align-center {
    display: block;
    margin: 0 auto;
    clear: left;
}

img.floatcenter {
    max-width: 100%;
    height: auto
}

.shadowtop,
.shadowbottom {
    height: 0px;
    font-size: 1px;
    display: inline-block;
    display: block;
}

.shadowtopleft,
.shadowtopright,
.shadowbottomleft,
.shadowbottomright {
    width: 0px;
    height: 0px;
    font-size: 1px;
}

.shadowtop {}

.shadowbottom {}

.shadowleft {}

.shadowright {}

.shadowtopleft {
    float: left;
}

.shadowtopright {
    float: right;
}

.shadowbottomleft {
    float: left;
}

.shadowbottomright {
    float: right;
}

.linklisting {
    margin: 15px auto 20px auto;
    border: 0px solid;
    max-width: 600px;
    clear: left;
}

.linklisting h4 {
    clear: left;
}

#search_results .linklisting {
    margin-left: 15px
}

.linklisting h4.linktitle,
.linklisting p.linkurl,
.linklisting p.linkrating {
    margin: 2px 0px;
}

.linklisting h4.linktitle a {
    padding-bottom: 0px;
}

* html .linklisting .linkdescription,
* html .review .reviewcontent {
    width: 96%;
}

.productlisting {
    display: flexbox;
    flex-basis: row;
}

.productlisting .link-image {
    display: inline-block;
    vertical-align: middle;
}

.productlisting .link-content {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    max-width: 100%;
}

.imgPageCaption {
    padding: 1.33%
}

.prod-wrapper {}

.prod-icon {
    width: 260px;
    height: 260px;
}

.product {
    margin-left: 0px;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.prod-sku {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

.prod-title {
    display: inline-block;
    vertical-align: middle;
}

.prod-title-hide {
    display: none;
}

.prop-properties {
    display: inline-block;
    width: 164px;
    vertical-align: middle
}

.prop-properties select {
    font-size: 12px;
}

.prod-prop1 {
    display: block;
    width: 164px;
    vertical-align: middle;
    padding-bottom: 6px
}

.prod-prop2 {
    display: block;
    width: 164px;
    vertical-align: middle;
    padding-bottom: 6px
}

.prod-price-quant-add {
    display: inline-block;
    border: 0px solid;
    vertical-align: middle;
}

.prod-price {
    display: inline-block;
    vertical-align: middle;
    border: 0px solid
}

.prod-quantity {
    display: inline-block;
    width: 105px;
    vertical-align: middle;
    border: 0px solid
}

.prod-quantity input {
    font-size: 14px;
    padding: 6px 12px;
    height: 18px;
    width: 40px;
    border: 1px solid #ccc;
}

.prod-quantity input {
    border: 1px solid #999
}

.prod-price-available {
    font-weight: bold;
    width: 80px;
}

.prod-price-sold {
    width: 70px;
}

.prod-price-call {
    color: red;
}

.prod-price-out {}

.prod-add {
    display: inline-block;
    vertical-align: middle;
    ;
    padding: 5px 0px 5px 0px;
}

.prod-add .button {
    background: #fff;
    border: 2px solid #990066;
    padding: 5px 10px;
    margin: 0px 0px 0px 0px;
    background: #FFFF99;
    font-size: 16px;
}

.paging {
    text-align: right;
}

.paging img,
.paging select,
.paging input {
    vertical-align: middle;
}

.crumb {
    font-size: 9px;
}

#content ul {
    margin: 10px 0px 0px 20px;
    padding: 0px;
}

.row {
    margin-bottom: 1px;
    padding: 4px;
}

.row label.name {
    padding-right: 5px;
    width: 25%;
    float: left;
}

.row label.name span {
    color: #8c3030;
}

.row .value.wrappedtext {
    margin-left: 25%;
    padding-left: 5px;
}

.row .value input.text,
.row .value input.password,
.row .value textarea {
    width: expression(this.parentNode.offsetWidth * 0.74 + 'px');
}

.row .value input.text,
.row .value input.password,
.row .value textarea {
    w\idth: 72%;
}

.row .value input.text.shorttext {
    width: 100px;
}

.row.required {
    background: #B0D6DD;
}

.row.invalid {
    color: #8c3030;
    background: #eedddd;
    font-weight: bold;
}

.formsubmit {
    margin-top: 10px;
    text-align: right;
}

.errormessage {
    color: #8c3030;
    font-weight: bold;
}

.infomessage {
    color: #3a5841;
    font-weight: bold;
}

.searchhl-1,
.searchhl-2,
.searchhl-3,
.searchhl-4,
.searchhl-5 {
    font-weight: bold;
}

.searchhl-1 {
    background: #ffff80;
}

.searchhl-2 {
    background: #aaaaff;
}

.searchhl-3 {
    background: #aaffaa;
}

.searchhl-4 {
    background: #ffaaaa;
}

.searchhl-5 {
    background: #aaffff;
}

.indent1 {
    margin-left: 20px;
}

.indent2 {
    margin-left: 40px;
}

.indent3 {
    margin-left: 60px;
}

.indent4 {
    margin-left: 80px;
}

.indent5 {
    margin-left: 100px;
}

.hide {
    display: none;
}

.clear:after {
    height: 0px;
    clear: both;
    display: block;
    visibility: hidden;
    content: ".";
}

.clear {
    display: inline-block;
}

* html .clear {
    height: 1%;
}

.clear {
    display: block;
}

#detailed p.description {
    overflow: hidden;
}

* html #detailed p.description {
    width: 100%;
}

#detailed p.linknav {
    margin: 0px;
    text-align: right;
}

#detailed p.linknav img {
    vertical-align: middle;
}

#detailed p.linknav a {
    text-decoration: none;
}

#detailed p.reviewsfooter {
    margin: 20px 0px 0px 0px;
    text-align: right;
}

#home dt a {
    font-weight: bold;
    font-size: 13px;
}

#modify_select input.radio {
    float: left;
}

#search .searchoption {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px dotted #bbbfa1;
}

#home h2 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
}

.homebox-wrapper {
    text-align: center;
}

.homebox {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 30px;
    overflow: hidden;
    padding: 0px 2.5%;
    text-align: left;
    width: 32%;
    vertical-align: top;
}

.homebox img {
    max-width: 100%;
    height: auto;
}

.homebox h4,
.homebox h4 a,
.homebox h4 a:visited {
    color: #00469f;
    margin: 20px 0px 5px
}

#category-description {
    margin-bottom: 25px;
}

#category-image {
    margin-bottom: 25px;
}

.gallerywrapper,
.gw1,
.gw2,
.gw3,
.gw4,
.gw5,
.gw6,
.gw7,
.gw8,
.gw9,
.gw10,
.gw11,
.gw12 {
    position: relative;
    text-align: left;
    max-width: 100%;
}

.mainimage {
    overflow: hidden;
    z-index: 1;
    max-width: 100%;
    position: relative;
}

.mainimage-caption {
    text-align: justify;
}

.fade {
    position: relative;
}

.fade .tgwrapper {
    max-width: 100%;
    width: 100%;
}

.fade .mainimage-inner {
    max-width: 100%;
    width: 100% !important;
    position: relative;
}

.mainimage-inner img {
    max-width: 100%;
    width: 100%;
    position: relative;
    height: auto;
}

.fph {
    margin: -1px;
}

.float-inside {
    position: absolute;
}

.gw5 .float-inside {
    bottom: 0px;
}

.gw6 .float-inside {
    bottom: 0;
}

.gw7 .float-inside {
    bottom: 0;
}

.columns-numerical .float5 {
    height: 40px;
}

.columns-numerical .fph5 {
    float: right;
    width: 1px;
    height: 80%;
}

.scrollablewrapper {
    z-index: 99999;
    max-width: 100%;
    left: auto !important;
    right: 0;
    float: right !important;
    margin-right: 20px !important
}

.scrollable {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: auto;
}

.scrollh {
    width: 20000em;
    position: absolute;
    height: 100%;
}

.scrollh .scrollable-column {
    float: left;
    max-height: 100%;
}

.scrollable-column {
    text-align: right
}

.scrollable-column .item .inner-item {
    max-width: 94% !important;
    position: relative;
    margin: 0 auto;
}

.scrollable-column .item .inner-item img {
    width: 100% !important;
    height: auto
}

.scrollv {
    position: absolute;
}

.slider-h a:link {
    border-top: 5px solid yellow
}

.slider-h a.current {
    background: #880C23;
    border-top: 5px solid red
}

.slider-v a.current {
    background: #880C23;
    border-top: 5px solid red
}

a.forward,
a.backward {
    position: relative;
    z-index: 9999;
}

.browse {
    position: absolute;
    cursor: pointer;
}

.browse {
    color: #7F8A5E;
}

.browse:hover {
    color: #924523;
    text-decoration: none;
}

.scrollable a.current {}

.scrollablewrapper span.right {
    margin: 0;
    z-index: 99999;
}

.scrollablewrapper span.left {
    margin: 0;
    z-index: 99999;
}

.scrollablewrapper span.disabled {
    visibility: hidden !important;
}

.scrollable .item {
    display: inline-block;
    box-sizing: border-box;
}

.scrollable a,
.scrollable a:link,
.scrollable a:visited {
    display: block;
    text-align: center;
}

.scrollable img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.image img {}

.arrows {
    text-align: justify;
}

.arrows .inner-item {}

.arrows a {
    height: auto;
    width: auto;
}

.arrows a:link {
    float: left;
    height: auto;
    width: auto;
}

.arrows a.current {
    float: left;
    height: auto;
}

.char a {
    color: #6a96c5;
    font-size: 35px;
    text-decoration: none;
    line-height: 20px;
    font-family: Arial, Helvetica;
}

.char a:link {}

.char a.current {
    color: #6a96ff;
}

.tip {
    cursor: pointer;
    border: 1px solid;
    padding: 0px 3px;
    border-radius: 8px;
    background: #fff;
    font-size: 10px;
    vertical-align: super;
}

.thetip {
    display: none;
    border: 3px solid green;
    background: #fff;
    padding: 5px;
    z-index: 99999;
    box-shadow: 0px 5px 15px #000;
    width: 100%;
}

.td-name .thetip {
    font-weight: normal;
}

.tooltip {
    z-index: 9999;
    display: none;
    padding: 5px 5px 15px 5px;
    font-size: 11px;
    border: 3px solid gold;
    background: #fff;
    text-align: left;
}

.tooltip .label {
    color: yellow;
    width: 35px;
}

.tooltip a {
    color: #ad4;
    font-size: 11px;
    font-weight: bold;
}

.slicknav_menu {
    display: none;
}

.menu {
    background: url(/images/header_nav_bg.png) top center repeat-x;
    position: relative;
    min-height: 62px;
    float: left;
    width: 100%;
    max-width: 100%;
}

.menu-first {
    background: url(/images/header_nav_left.png) top left no-repeat;
    display: block;
    position: absolute;
    width: 33px;
    height: 62px;
    left: -33px;
    top: 0;
}

.menu-last {
    background: url(/images/header_nav_right.png) center left no-repeat;
    display: block;
    position: absolute;
    width: 33px;
    height: 62px;
    right: -33px;
    top: 0;
}

.menui {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 0px 0 0px 0px;
    padding: 9px 0 0px 0;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 9999;
    text-transform: uppercase;
}

.menui ul {
    box-sizing: border-box;
    z-index: 0;
    padding: 0px 0px 0px 15%;
    margin: 0;
    list-style-type: none;
    line-height: 1.5em;
}

.menui li {
    display: inline-block;
    margin: 0px;
    padding: 0px 2.4%;
    position: relative;
    vertical-align: middle;
}

.menui ul li table {
    margin: -1px 0;
    m\argin: 0;
    border-collapse: collapse;
    font-size: 12px;
}

.menui ul li ul {
    display: none;
    padding: 1px;
    font-size: 11px;
    -moz-border-radius: 0 0 0px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.menui li ul li {
    width: 100%;
    margin-left: 0px;
    z-index: 999
}

.menui li.li-first {
    width: 100%;
}

.menui li.li-alpha {
    float: left;
    width: 1.5em;
    text-align: center
}

.menui li.column-2 {
    float: left;
    width: 52%;
}

.menui li.column-3 {
    float: left;
    width: 45%;
}

.a-span {
    float: left;
    width: 100%;
}

.a-span a {
    float: left;
}

.menui ul li a,
.menui ul li a:visited,
.nolink {
    color: #00469f;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    margin: 0px 0px 0px 0px;
    max-width: 150px;
    padding: 0 0px 0px 5px;
    text-decoration: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5;
}

.menui ul li.nav-between {
    padding: 0px 18px;
    display: none;
}

.menui ul li.home a,
.menui ul li.home a:visited {
    padding-right: 0px;
}

.menui ul li:hover {
    position: relative;
    z-index: 999;
}

.menui ul li:hover a,
.menui ul li a:hover {
    text-decoration: underline;
}

.menui ul li:hover ul,
.menui ul li a:hover ul,
.menui ul li a:focus-within ul,
.menui ul li:focus-within ul {
    display: block;
    position: absolute;
    margin: 0 0 0 0;
    top: 38px;
    left: 0;
    height: auto;
    width: 100%;
    background: #FFF;
    border-right: 1px solid #00469f;
    border-left: 1px solid #00469f;
    border-bottom: 1px solid #00469f;
    padding: 8px 10px 6px 10px;
    z-index: 9999;
}

.menui ul li:hover ul li a,
.menui ul li a:hover ul li a,
.menui ul li a:focus-within ul li a,
.menui ul li:focus-within ul li a {
    clear: left;
    display: block;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    text-transform: capitalize;
    border: 0px solid green;
    margin: 0;
    padding: 4px 0px;
    height: auto;
    color: #00469f;
    background: #FFF;
    font-size: 14px;
    max-width: 80%;
}

.menui ul li:hover ul li a:visited,
.menui ul li a:hover ul li a:visited {
    color: #00469f;
}

.menui ul li:hover ul li:hover a:hover,
.menui ul li a:hover ul li a:hover {
    text-decoration: underline;
    ;
    background: transparent;
}

.menui ul li:hover ul li a.active,
.menui ul li:hover ul li a.ison,
.menui ul li a:hover ul li a.active {
    text-decoration: underline;
}

#cart_wrapper {
    position: relative;
    border: 0px solid;
    margin: 0 auto;
    width: 700px;
    text-align: center;
    max-width: 94%;
    padding: 0px;
}

#cart_wrapper table {
    width: 100%;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px auto;
}

#cart_wrapper table th,
#cart_wrapper table tr,
.lh,
.lhv {
    background: transparent;
    padding: 5px
}

#cart_wrapper table td {
    max-width: 100%;
    padding: 5px 3px;
    line-height: 140%
}

#cart_wrapper table td textarea {
    max-width: 80%;
}

#cart_wrapper table td input {
    max-width: 150px;
}

#cart_wrapper table td select {
    width: 155px
}

#cart_wrapper table,
#cart_wrapper th {
    text-align: left;
    max-width: 100% !important;
    padding: 0px;
}

#cart_wrapper table.cartbuttons td {
    padding: 0px 0px !important;
}

.remember {
    max-width: 250px;
    line-height: 140%
}

.cartbuttons {
    max-width: 100%;
    line-height: 140%
}

.buttonw {
    color: #000;
    cursor: pointer;
    min-width: 190px;
    background: #fff;
    border: 2px solid #00ccff;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.button {
    color: #000;
    cursor: pointer;
    margin-bottom: 5px;
    background: #fff;
    border: 2px solid #00ccff;
    padding-bottom: 3px;
    margin: 0px 3px 5px 0px
}

.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
}

.slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
    margin: 0
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 0.188em
}

.slicknav_nav {
    clear: both
}

.slicknav_nav ul,
.slicknav_nav li {
    display: block
}

.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
    cursor: pointer;
}

.slicknav_nav .slicknav_row {
    display: block;
}

.slicknav_nav a {
    display: block
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    display: inline
}

.slicknav_menu:before,
.slicknav_menu:after {
    content: " ";
    display: table;
}

.slicknav_menu:after {
    clear: both
}

.slicknav_menu {
    *zoom: 1
}

.slicknav_menu {
    display: none;
    font-size: 16px;
    padding: 5px;
}

.slicknav_btn {
    margin: 10px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slicknav_menu .slicknav_menutxt {
    color: #00469f;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #00469f;
}

.slicknav_nav {
    color: #fff;
    margin: 0px 0 0 0;
    padding: 20px 0 0 0;
    font-size: 0.875em;
}

.slicknav_nav,
.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
}

.slicknav_nav ul {
    padding: 0;
    margin: 0px 0 0 20px;
}

.slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px;
}

.slicknav_nav a {
    padding: 0 0 10px 10px;
    margin: 0px 5px;
    text-decoration: none;
    color: #00469f;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}

.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #00469f;
}

.slicknav_nav a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: underline;
    color: #00469f;
}

.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}

@media (max-width:1020px) {
    .menu-last {
        background: url(/images/header_nav_right.png) center left no-repeat;
        display: block;
        position: absolute;
        width: 10px;
        height: 62px;
        right: -10px;
        top: 0;
    }

    .shadowbottomright {
        background: url(/images/footer_right.png) center left no-repeat;
        display: block;
        position: absolute;
        width: 10px;
        height: 60px;
        right: -10px;
        top: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .slicknav_menu {
        display: block;
        position: relative;
        z-index: 9
    }

    .menui {
        display: none;
    }

    #header-right {
        position: absolute;
        bottom: 2px;
        right: 115px;
        margin-right: 0;
        width: 410px;
        text-align: left;
        z-index: 99;
        border: 0px solid;
    }

    .searchbar {
        float: right;
    }

    #header-right .subscribe {
        float: right;
        padding: 5px 0 0px 0px
    }

    #header-right .viewcart {
        float: right;
        padding: 5px 5% 0px 15px;
    }
}

@media (max-width:800px) {
    .homebox {
        width: 49%;
    }
}

@media (max-width:675px) {
    #header-first {
        height: 160px;
    }
}

@media (max-width:630px) {
    .homebox {
        width: 250px;
    }

    .gallerywrapper {
        max-width: 100%;
        position: relative
    }

    .mainimage {
        max-width: 100%;
    }

    .fade {
        max-width: 100%;
    }

    .tgwrapper {
        max-width: 100%;
    }

    .scrollablewrapper {
        max-width: 100%;
        position: relative
    }

    .scrollable-column {
        max-width: 500px;
        position: relative;
    }

    .mainimage-inner {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .mainimage-inner img {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .item {
        max-width: 99%;
    }

    .inner-item {
        max-width: 95%;
    }

    .image a {
        max-width: 99%;
    }

    .image img {
        max-width: 14%;
        height: auto
    }

    .gallerywrapper img {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width:561px) {
    .homebox {
        height: auto;
    }
}

@media (max-width:530px) {
    #logo {
        margin: 0px 0px 0px 60px;
        top: 15px;
        width: 75%;
        min-height: 81px;
    }

    #header {
        height: 135px;
        border: 1px solid
    }

    #header-first {
        height: 65px;
        top: 28px;
    }

    #header-right {
        position: absolute;
        bottom: 0px;
        right: 115px;
        margin-right: 0;
        width: 202px;
        text-align: center;
        z-index: 99;
    }

    #header-right .viewcart,
    #header-right .subscribe {
        text-align: center;
        width: 40%;
        display: inline-block;
        float: none;
        padding: 0px;
    }

    #header-right .subscribe a,
    #header-right .viewcart a {
        font-size: 12px;
        float: none;
        padding: 0px;
    }
}

@media (max-width:500px) {
    .cartbuttons-left {
        display: inline-block;
        margin-right: 0px;
        min-width: 160px;
        width: 48% !important;
        max-width: 48% !important;
        text-align: center;
    }

    .cartbuttons-center {
        display: inline-block;
        margin: 0px auto;
        min-width: 140px;
        width: 45% !important;
        max-width: 48% !important;
        text-align: center;
    }

    .cartbuttons-right {
        float: left;
        width: 100%;
        text-align: center;
    }

    .cartbuttons-right b {
        display: block;
    }
}

@media (max-width:485px) {
    .floatleft.prod-icon {
        float: none !important;
        margin-left: 0 !important;
    }

    .product {
        margin-left: 25px;
    }

    .floatleft,
    .floatright {
        float: none !important;
        margin: 0 auto 15px auto !important;
        display: block;
    }
}

@media (max-width:500px) {
    .gallerywrapper {
        max-height: 300px;
        position: relative;
        border: 0px solid
    }
}

@media (max-width:450px) {

    #contentfooter ol,
    #contentfooter ul {
        list-style: none !important;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        text-align: left;
    }

    #contentfooter ol li,
    #contentfooter ul li {
        display: inline-block;
        padding: 5% 0% 8px 3%
    }

    #contentfooter a {
        font-size: 4.6vw;
    }
}

@media (max-width:400px) {
    .gallerywrapper {
        max-height: 230px;
        position: relative;
        border: 0px solid
    }
}

@media (max-width:375px) {
    .search-text {
        width: 125px;
    }

    .button,
    .buttonw {
        width: 220px !important;
        max-width: 100% !important;
    }

    .buttons {
        width: auto !important
    }

    .button.prod-add-button {
        width: auto !important;
    }

    .cart_items th,
    .cart_items th.itemcode,
    .cart_items th.itemname,
    .cart_items th.itemprops,
    .cart_items th.itemquant,
    .cart_items th.itemprice,
    .cart_items th.itemtotal {
        float: left;
        padding: 2px 4px !important;
        box-sizing: border-box
    }

    .cart_items td {
        float: left;
        border: 0px solid;
    }

    .cart_items td.itemcode,
    .cart_items th.itemprops {
        float: left;
    }

    .cart_items td.itemcode {
        width: 25%;
    }

    .cart_items td.itemname {
        width: 70%;
        border: 0px solid;
        clear: none;
        padding: 4px 0px !important;
    }

    .cart_items th.itemprice,
    .cart_items th.itemquant,
    .cart_items th.itemtotal {
        float: right;
    }

    .cart_items td.itemprice {
        clear: both;
        float: left;
        width: 40%;
        border: 0px solid;
        box-sizing: border-box;
    }

    .cart_items td.itemquant {
        float: left;
        width: 32%;
        border: 0px solid;
        box-sizing: border-box;
        text-align: right;
    }

    .cart_items td.itemtotal {
        float: left;
        width: 28%;
        border: 0px solid;
        box-sizing: border-box;
    }

    .cart_items td.notespan {
        float: left;
        width: 100%;
    }

    .cart_items td.itemprice {
        text-align: right;
    }

    .cart_items .lh {
        float: left;
        display: block;
        border: 0px solid;
        text-align: right;
        width: 50%;
        box-sizing: border-box;
    }

    .cart_items .lhv {
        float: left;
        display: block;
        border: 0px solid;
        width: 50%;
        box-sizing: border-box;
        text-align: right;
    }

    .cartbuttons-left {
        width: 100% !important;
        max-width: 100% !important;
    }

    .cartbuttons-center {
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width:340px) {
    #logo {
        margin: 0px 0px 0px 60px;
        top: 15px;
        width: 75%;
        min-height: 65px;
    }

    #header {
        height: 120px;
        border: 1px solid
    }

    #header-first {
        height: 65px;
        top: 12px;
    }
}

@media (max-width:320px) {
    .gallerywrapper {
        max-height: 170px;
        position: relative;
        border: 0px solid
    }
}

#content ul {
    list-style: none
}

#results {
    height: 150px;
    width: 100%;
    float: left;
    border: 1px solid;
    display: none;
}

#collector {
    height: 106px;
    border: 1px dashed #ccc;
    position: relative;
    display: block;
    width: 100%;
    max-width: 774px;
    clear: left;
    margin: 0 auto 15px auto;
    background: url(../images/byob_template.jpg) 25px 26px no-repeat;
}

#collector ul {
    margin: 0;
    padding: 0;
    position: relative;
}

#collector ul li {
    position: relative;
}

#collector .bead-state-highlight {
    top: 0 !important;
}

.byob-mobile {
    display: none;
}

ul#ropetable {
    border: 0px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    width: 600px;
    text-align: right;
    height: 40px;
    position: absolute;
    top: 14px;
    left: 75px;
}

#ropechoice img {
    min-width: 470px;
    min-height: 60px;
    outline: 1px solid yellow
}

ul.A {
    background: url(../images/ropes/rope_a.jpg) top left no-repeat;
}

ul.B {
    background: url(../images/ropes/rope_b.jpg) top left no-repeat;
}

ul.C {
    background: url(../images/ropes/rope_c.jpg) top left no-repeat;
}

ul.D {
    background: url(../images/ropes/rope_d.jpg) top left no-repeat;
}

ul.E {
    background: url(../images/ropes/rope_e.jpg) top left no-repeat;
}

ul li:hover {
    cursor: grab;
}

ul#ropechoice li {
    border: 0px solid;
    height: 40px;
    overflow: hidden;
    width: 100px;
}

#ropetable li {
    float: left;
    height: 40px;
    margin: 0px;
    text-align: left;
    border: 0px solid red;
    background: transparent;
}

ul#clasptableleft {
    width: 100px;
    border: 0px solid #eee;
    border-right: 0px;
    height: 55px;
    position: absolute;
    left: 0px;
    text-align: left;
    top: 11px;
    z-index: 2;
}

ul#clasptable {
    width: 100px;
    border: 0px solid #eee;
    border-left: 0px;
    height: 55px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 12px;
    z-index: 2;
}

ul.hookclasp {
    background: url(../images/hooks/Hook_clasp_right.png) top left no-repeat;
}

ul.hookclaspleft {
    background: #fff url(../images/hooks/Hook_clasp_left.png) top right no-repeat;
    border: 5px solid;
}

ul.tclasp {
    background: url(../images/hooks/T-Clasp_right.png) top left no-repeat;
}

ul.tclaspleft {
    background: url(../images/hooks/T-Clasp_left.png) top right no-repeat;
}

ul.coilclasp {
    background: url(../images/hooks/Coil_clasp_right.png) top left no-repeat;
}

ul.coilclaspleft {
    background: url(../images/hooks/Coil_clasp_left.png) top right no-repeat;
}

ul#clasptable li {
    float: left;
    height: 30px;
    width: 75px;
    margin: 0px;
    text-align: left;
    border: 0px solid red;
    background: transparent;
}

ul#sortable {
    border-top: 0px solid #eee;
    border-bottom: 0px solid red;
    width: 600px;
    text-align: center;
    height: 52px;
    left: 100px;
    position: absolute;
    top: 12px;
    z-index: 1;
    padding-left: 10px;
}

#sortable * {
    border: 0px solid
}

ul#sortable li {
    float: left;
    margin: 0px 3px;
    text-align: center;
    border: 0px solid red;
    background: transparent;
}

ul#sortable li span {
    width: 35px;
    text-align: center;
    margin: 0 auto
}

#trash {
    border: 1px solid;
    padding: 3px;
    width: 80px;
    height: 80px;
    overflow: auto;
    float: left;
    display: none;
}

.bead-state-highlight {}

.drophover {}

.dropnow {}

#ropeandclaspwrapper {
    float: left;
    width: 160px;
    border: 1px solid #FFF;
    margin-right: 15px;
}

#ropewrapper {
    float: left;
}

ul#ropechoice {
    float: left;
    width: 100px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

ul#ropechoice li {
    position: relative;
}

.ropeoverlay {
    position: absolute;
    top: 20px;
    left: 3px;
    color: #fff;
    border: 0px solid;
}

#claspwrapper {
    clear: left;
    float: left;
}

ul#claspchoice {
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px solid;
}

.chooser {
    float9: left;
    width9: 100px;
    margin: 0px;
    text-align: left;
    border: 0px solid;
}

#beadandwristwrapper {
    float9: left;
    width9: 570px;
    border: 0px solid;
}

#beadwrapper {
    border: 1px solid #FFF;
}

ul#choicetable {
    float9: left;
    width9: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px solid red;
    width9: 570px;
}

#choicetable li {
    float: left;
    margin: 3px;
    width: 65px;
    height: 90px;
    overflow: hidden;
    text-align: center;
    border: 0px solid #ccc;
}

#choicetable li img {
    border: 0px solid
}

.sku_Title {
    display: block;
    font-size: 10px;
}

.bewteen-bead-and-wristwrappers {
    float: right;
    width: 74%;
    border: 0px solid blue;
    margin-bottom: 30px;
}

#wristwrapper {
    float: left;
    border: 0px solid;
    width: 50%;
    min-width: 160px;
    margin-bottom: 30px;
}

@media (max-width:740px) {
    #wristwrapper {
        clear: both;
    }
}

@media (max-width:800px) {
    .byob-fullscreen {
        display: none;
    }

    .byob-mobile {
        display: initial;
    }

    #collector {
        overflow-y: hidden;
        overflow-x: scroll;
        height: 130px;
    }

    #ropeandclaspwrapper {
        width: 100%;
        border: 0px solid
    }

    #ropewrapper {
        border: 0px solid;
        min-width: 100%;
    }

    ul#ropechoice {
        min-width: 100%;
        text-align: center;
    }

    ul#ropechoice li {
        clear: none;
        display: inline-block;
        margin: 5px;
    }

    #beadwrapper {
        clear: both;
    }

    #choicetable li {
        height: 110px;
        min-width: 60px !important;
    }

    #choicetable li {
        height: 110px;
        min-width: 60px !important;
    }

    ul#clasptable {
        right: default;
        left: 674px;
    }
}

@media (max-width:500px) {}

#wristwrapper select {
    font-size: 12px;
}

ul#wristchoice {
    float: left;
    margin: 0px;
    padding: 0px;
}

#showpricebottom {
    margin-bottom: 12px;
    color: #018749;
    font-weight: bold;
    font-size: 14px;
}

#buynow {
    border: 0px solid;
}

#buynow input {
    width: 150px;
}